
*{
    box-sizing: border-box;
}
p, h1, h2, h3 a{
  padding: 0;
  margin: 0;
  
}
body{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>; */
}
.header {
  background-color: #1F2937;
  
  
}
.wigth-content{
  width: 1000px;
  margin: 0 auto;

}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.logo {
  font-size: 24px;
  color:#F9FAF8;
}
.nav-header {
}
.nav-items {
  display: flex;
  gap: 20px;
  
}
li{
  list-style-type: none;
}
li a{
  text-decoration: none;
  color:#E5E7EB;
}
.nav-item {
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.header__content-title-text {
  max-width: 450px;
}
.headr__content-title {
  font-size: 48;
  font-weight: 900;
  color: #F9FAF8;
}
.headr__content-text {
  font-size: 18px;
  color: #E5E7EB;
  margin: 30px 0 35px 0;

}

.buttom {
  display: inline-block;
  padding: 8px 30px;
  background-color: #3882F6;
  border-radius: 7px;
  
}
.buttom a{
  
  color:#E5E7EB;
  text-decoration: none;
}
.header-images {
}



.section-info {
  padding: 30px 0 40px 0;
}
.info-title h2{
  text-align: center;
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 35px;
}
.info-cart {
}
.cart-items {
  display: flex;

  gap: 50px;
  justify-content: center;
}
.item {
  width: 150px;
}
.item a{

}
.cart-content {
  text-decoration: none;
  color: #1F2937;
  font-size: 15px;
}
.cart-text{
  text-align: center;
  padding: 0 1px;
}
.cart-img {
  width: 150px;
  height: 170px;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.cart-text{
  
  
  
}






.footer {
  background-color: #1F2937;

}
.footer__Copyright-link {
}